{% extends 'userbase.html' %}
{% block title %}Profile{% endblock title %}
{% block body %}
<h1>MY PROFILE </h1>
 <h3> Basic Info</h3>
Username : {{user.username}}<br>
Email : {{user.email}}<br>
Role: {% if  user.is_superuser %}Admin{% elif user.is_staff %}Staff{% else %}User{% endif %}
<h3> My Reviews</h3>
{% for review in reviews %}
<b>Book Name: </b>{{review.book}}<br>
<b>Rating: </b>{{review.rating}}⭐<br>
<b>Review: </b>{{review.review}}<br><br>
{% endfor %}
<h3> My ISSUE Request Status</h3>
{% for request in requests %}
{% if request.permission %}
{% if request.status %}
<b>Book Name: </b>{{request.book}}<br>
<b>Status: </b>Issued<br>
{% endif %}
{% else %}
{% if request.status %}
<b>Book Name: </b>{{request.book}}<br>
<b>Status: </b>Denied<br>
{% else %}
<b>Book Name: </b>{{request.book}}<br>
<b>Status: </b>Pending For Approval<br>
{% endif %}
{% endif %}
{% endfor %}
{% endblock body %}